:root {
    --border-size: 3px;             
    --animation-duration: 4s;       
    --neon-color: #00ffdd;          
    --bg-color: #1a1a1a;            
    --border-radius-size: 15px;     
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  color: #e8f6f3;
  background-color: #0d0f0f;
}

header {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
header .logo {
  display: inline-block;
  display: flex;
  align-items: center;
  margin-right: auto; 
  margin-left: 35px;
  font-size: 26px;
  color: #00ffdd;
  font-weight: 900;
}
header nav {
  background: #00bfa6;
  padding: 10px 25px;
  border-radius: 40px;
  margin-right: 455px;
}

a {
  margin: 0 15px;
  text-decoration: none;
  color: #0d0f0f;
  transition: 0.3s;
  font-weight: 500;
  transition:  0.2s ease-in ;
}
header nav a:hover {
  background: #ffffff;
  border-radius: 90px;
  padding: 5px 10px;
  color: #0d0f0f;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px 70px;
}
.luxury-title {
  font-size: 55px;
  color: #00d8bb;
}
.btn {  
  display: inline-block;
  margin-top: 20px;
  margin-left: auto;
  padding: 10px 25px;
  background: #00bfa6;
  color: #0d0f0f;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover{
   background-color: #00ffdd;
   transform:scale(1.19);
}

.profile-img img {
  width: 330px;
  border-radius: 70px;
  box-shadow: 0 0 40px rgb(0, 255, 200);
  transition: 0.3s;
  animation: float 3.5s ease-in-out infinite;
}
.profile-img img:hover {
  transform: scale(1.05);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.hero-content {
  position: relative;
  padding: 3px;               
  border-radius: 20px;
  background: #1a1a1a;
}

.hero-content::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 3px;
  background: linear-gradient(
    120deg,
    rgb(0, 255, 200),
    #1a1a1a,
    rgb(0, 255, 200)
  );
  background-size: 300% 300%;
  animation: borderAnim 3s alternate infinite;
  filter: blur(12px);
  z-index: -1;                  
}

.hero-content {
  position: relative;
  background: #1a1a1a;
  border-radius: 16px;
  padding: 25px;
  color: rgb(0, 255, 200);
}

.btn {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: rgb(0, 255, 200);
  color: #1a1a1a;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}


@keyframes borderAnim {
  0%   { background-position: 0% }
  50%  { background-position: 100%}
  100% { background-position: 0%  }
} 

.about {
  display: inline-block;
  text-align: center;
  border: 2px solid #00bfa6;
  padding:20px;
  border-radius: 20px;
  box-shadow: 0 0 40px rgb(0, 255, 200);
  background-color: #1a1a1a;
}
.about p {
  width: 50%;
  margin: auto;
  font-size: 18px;
  line-height: 1.6;
}

.projects {
  padding: 80px;
  text-align: center;
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 30px;
}
.project-card {
  background: #111414;
  padding: 25px;
  border-radius: 30px;
  border: 1px solid #00bfa6;
  transition: all 0.3s ease-in-out;
}
.project-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 40px rgba(0,255,200,0.3);
}

footer {
  padding: 20px ;
  text-align: center;
  margin-top: 60px;
}
.social-icons a {
  font-size: 28px;
  margin: 0 10px;
  color: #00bfa6;
  transition: all 0.2s ease-in-out;
}
.social-icons a:hover {
  color: white;
  border-bottom: 1px solid #ffffff;
}

.c2{
  padding-bottom: 7px;
}

.contact{
  border-top: 2px solid #00bfa6 ;
  margin: 0 520px ;
  padding-top: 7px;
}


@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
  .profile-img img {
    margin-top: 40px;
    width: 260px;
  }
}